<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

<f:for each="{roots}" as="root">
  <div class="widget-number">
    <div class="widget-number-content">
      <div class="widget-number-title">{root.host}</div>
      <div class="widget-element">
        <f:for each="{root.languages}" as="language">
          <div class="widget-element-language">
            <div class="widget-number-subtitle"><small>{language.title}</small></div>
            <div class="widget-number-number">{language.count}</div>
          </div>
        </f:for>
      </div>
    </div>
  </div>
</f:for>

</f:section>
