.widget-number {
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D7D7D7;
}

.widget-element {
  display: flex;
  flex-direction: row;
}

.widget-element-language {
  margin-right: 20px;
}
